* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 136px;
  top: 88px;
  width: 748px;
  height: 240px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 8;
}

.s3 {
  position: absolute;
  left: 98px;
  top: 333px;
  width: 825px;
  height: 365px;
  animation: zoomInUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}