* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 200px;
  top: 79px;
  width: 629px;
  height: 219px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3 {
  position: absolute;
  left: 113px;
  top: 321px;
  width: 787px;
  height: 117px;
  animation: zoomInUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s4_wrap {
  position: absolute;
  left: 97px;
  top: 486px;
  width: 762px;
  height: 187px;
  overflow: hidden;
  animation: growHeight 2s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s4 {
  position: absolute;
  z-index: 4;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}

.pop1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 150px;
	height: 180px;
	z-index: 8;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

@-webkit-keyframes growHeight {
  0% {
    height: 0px;
  }

  100% {
    height: 190px;
  }
}

@keyframes growHeight {
  0% {
    height: 0px;
  }

  100% {
    height: 190px;
  }
}

.growHeight {
  -webkit-animation-name: growHeight;
  animation-name: growHeight;
}