* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 287px;
  top: 61px;
  width: 449px;
  height: 210px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s3 {
  position: absolute;
  left: 56px;
  top: 307px;
  width: 473px;
  height: 298px;
  animation: fadeInLeft 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s4 {
  position: absolute;
  left: 581px;
  top: 306px;
  width: 344px;
  height: 290px;
  animation: jackInTheBox 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 5;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 8;
}

.pop1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 150px;
	height: 150px;
	z-index: 10;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 12;
}