* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 195px;
  top: 72px;
  width: 629px;
  height: 231px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3 {
  position: absolute;
  left: 50px;
  top: 368px;
  width: 433px;
  height: 244px;
  animation: fadeInLeft 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s4 {
  position: absolute;
  left: 536px;
  top: 358px;
  width: 430px;
  height: 279px;
  animation: fadeInRight 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 8;
}

.pop1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 150px;
	height: 150px;
	z-index: 6;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}