* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
  position: absolute;
  left: 300px;
  top: 64px;
  width: 505px;
  height: 240px;
  animation: fadeInUp 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s3 {
  position: absolute;
  left: 150px;
  top: 312px;
  width: 359px;
  height: 189px;
  animation: bounceInUp 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  z-index: 4;
}

.s4 {
  position: absolute;
  left: 158px;
  top: 503px;
  width: 352px;
  height: 208px;
  animation: flipInX 1s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s5 {
  position: absolute;
  left: 525px;
  top: 352px;
  width: 457px;
  height: 241px;
  animation: fadeInRight 1s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.s6 {
  position: absolute;
  left: 537px;
  top: 605px;
  width: 378px;
  height: 100px;
  animation: jackInTheBox 1s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  z-index: 3;
}

.pop_up {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 8;
}

.pop1 {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 150px;
	height: 150px;
	z-index: 10;
}

.c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 12;
}